<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Películas ordas por rating</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>ACTORES ORDENADOS POR RATING</h1>
    <ul>
        <% for( let i = 0; i < actores.length; i++ ) { %>
        <li>
            <a href="/actores/detail/<%=actores[i].id%>"><%= actores[i].last_name %> <%=" "%> <%= actores[i].first_name %></a> <br>
            <%= 'RATING: ' + actores[i].rating %> 
        </li>
        <% } %>
        
    </ul>
</body>
</html>